{
  "Product A": "Access Legal Case Management",
  "Product B": "One Office & Financial Director",
  "Product C": "Access LawFusion",
  "Product D": "Access Legal Proclaim",
  "Product E": "Access Legal Compliance",
  "Product F": "Access Legal InCase",
  "Product G": "Access Diversity",
  "Product H": "Access Legal AI Services",
  "Product I": "Access Legal Framework",
  "Product J": "Access MyCalendars",
  "Product K": "Eclipse",
  "Product L": "Access LegalBricks",
  "Product M": "Legal Workspace",
  "Product N": "Proclaim Portals - Eclipse",
  "Product O": "Learning Content Legal"
}
