{
  "Access Legal Product D": "Product D",
  "Access Legal Product F": "Product F",
  "Access Legal Product L": "Product L",
  "Access Product D": "Product D",
  "Access Product F": "Product F",
  "Access Product L": "Product L",
  "Legal Product D": "Product D",
  "Legal Product F": "Product F",
  "Legal Product L": "Product L",
  "Access_Legal_Case_Management": "Product_A",
  "One_Office_&_Financial_Director": "Product_B",
  "One_Office": "Product_B",
  "Access_LawFusion": "Product_C",
  "Access_Legal_Compliance": "Product_E",
  "Legal_Compliance": "Product_E",
  "Access_Diversity": "Product_G",
  "Access_Legal_AI_Services": "Product_H",
  "Access_Legal_Framework": "Product_I",
  "Access_MyCalendars": "Product_J",
  "Legal_InCase": "Product_F",
  "Legal_Product D": "Product_D",
  "Learning_Content_Legal": "Product_O",
  "Build Access Legal Searches": "Build Product A Searches",
  "Access Legal": "Product A",
  "Access Legal Proclaim": "Product D",
  "Access Proclaim": "Product D",
  "Legal Proclaim": "Product D",
  "Proclaim Portals - Eclipse": "Product N",
  "Proclaim": "Product D",
  "Access Legal InCase": "Product F",
  "Access Legal inCase": "Product F",
  "Access InCase": "Product F",
  "Access inCase": "Product F",
  "Legal InCase": "Product F",
  "Legal inCase": "Product F",
  "inCase": "Product F",
  "Access LegalBricks": "Product L",
  "Access Legal Bricks": "Product L",
  "LegalBricks": "Product L",
  "Legal Bricks": "Product L",
  "Access Legal Case Management": "Product A",
  "One Office & Financial Director": "Product B",
  "One Office": "Product B",
  "Access LawFusion": "Product C",
  "LawFusion": "Product C",
  "Law Fusion": "Product C",
  "Access Legal Compliance": "Product E",
  "Access Diversity": "Product G",
  "Access Legal AI Services": "Product H",
  "Access Legal Framework": "Product I",
  "Access MyCalendars": "Product J",
  "Eclipse": "Product K",
  "Legal Workspace": "Product M",
  "Learning Content Legal": "Product O"
}
